PORT=3000
MONGODB_URL=mongodb://localhost:27017/ccc2uTest
# NODEMAILER_TRANS_PASS=nodemailer payload email password
# NODEMAILER_TRANS_EMAIL= nodemailer payload email
# NODEMAILER_RECEIVER_EMAIL= receiver email

REACT_APP_EMAILJS_USERID=
REACT_APP_EMAILJS_SERVICEID=
REACT_APP_EMAILJS_TEMPLATEID=

SSL_CERT_PATH=ssl/cert/path