/**about.html styling**/


/*start of section buttons*/
.button-custom{
    background-color: transparent;
    border: none;
    color: #000000;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    margin: 1% 2%;
    cursor: pointer;
    border: solid;
    border-width: .1rem;
    border-color: rgb(214, 212, 107);
    border-radius: .25rem;
}

.button-custom:hover{
    background-color: rgb(214, 212, 107);

}

.button-custom:active{
    background-color: rgb(168, 167, 88);
}

.button-custom:focus{
    background-color: rgb(214, 212, 107);
    outline: none;

}

/*end of section buttons*/


/*start of iframe*/
.iframe-container{
    padding: 3%;
}

iframe{
    min-width: 100%;
    height: 50rem;
}

/*end of iframe*/

/* Start of milestone */
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #cd9557;
    opacity: 0.7;
    z-index: 1;
}

.milestone-img {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
  }

/* End of milestone */