/**about.html styling**/

button{
    background-color: transparent;
    border: none;
    color: #000000;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    margin: 1% 2%;
    cursor: pointer;
    border: solid;
    border-width: .1rem;
    border-color: rgb(214, 212, 107);
    border-radius: .25rem;
}

button:hover{
    background-color: rgb(214, 212, 107);

}

button:active{
    background-color: rgb(168, 167, 88);
}

button:focus{
    background-color: rgb(214, 212, 107);

}

.iframe-container{
    padding: 3%;
}

iframe{
    min-width: 100%;
    height: 50rem;
}
