/**contact.html styling**/

/*start global*/
p{
    font-size: 1rem;
    font-weight: 100;
}

footer{
    text-align: center;
}
/*end global*/

/*bg illustration start*/
.bg-illus{
    background-image: url('../images/products/klcclong-min.jpg');
    background-size:cover ;
    min-height: 40vh;
  
  }
/*bg illus end*/


/*contact block*/
.contact-block{
    margin : 2%;
    padding-bottom: 1%;
    z-index: 0;
}



.list-group-item{
    margin: 2%;
    padding: 2%;
}

.list-group-item:hover{
   z-index: 0;
}

.contact-icon{
    max-width: 5%;
    max-height: 5%;
}

.custom-select{
    width: 100%;
    min-height: 3rem;
}

.form-group{
    margin: 2%;
}

#messageInput{
    min-height: 4rem;
}

.btn-primary{
    background-color: rgb(214, 212, 107);
    border-color: rgb(214, 212, 107);
    min-width: 100%;
}

.btn.btn-primary:hover{
    background-color: rgb(177, 175, 92) ;
    border-color: rgb(177, 175, 92);
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgb(177, 175, 92) ;
    border-color: rgb(177, 175, 92);
}

/*end contact block*/

.map-icon{
    margin: 5%;
}

/*email feedback start*/
.email-feedback-container{
    width: 100%;
    position:absolute;
    top: 50%;
    background-color: transparent;
    height: 30rem;
    z-index: -1;
}

.email-feedback{
    z-index: -1;
    width: 50%;
    height: 20rem;
    border-radius: 2rem;
    border: solid 2px silver;
}

#email-feedback-message{
    margin: 3%;
}



.success{
    border: solid 2px rgb(126, 228, 126);
}

.failure{
    border: solid 2px rgb(228, 126, 126);
}

.showFb{
    z-index: 1;
}

.hideFb{
    z-index: -1;
}



/*email feedback end */

/*screen constraints start*/
@media only screen and (max-width: 800px) {
    .bg-illus{
        display: none;
    }

    .contact-block{
        padding: 1rem;
    }

    /*email feedback start*/
    .email-feedback-container{
        width: 100%;
        position:absolute;
        top: 70%;
        background-color: transparent;
        height: 30rem;
        z-index: -1;
    }

    .email-feedback{
        z-index: -1;
        width: 50%;
        height: 20rem;
        border-radius: 2rem;
        border: solid 2px silver;
    }
    
    #email-feedback-message{
        margin: 3%;
    }

    .success{
        border: solid 2px rgb(126, 228, 126);
    }
    
    .failure{
        border: solid 2px rgb(228, 126, 126);
    }
    
    .showFb{
        z-index: 1;
    }
    
    .hideFb{
        z-index: -1;
    }
    /*email feedback end*/


  }
/*screen constraints end*/