/**contact.html styling**/

/*start global*/
p{
    font-size: 1rem;
    font-weight: 100;
}
/*end global*/

/*bg illustration start*/
.bg-illus{
    background-image: url('../images/products/klcclong-min.jpg');
    background-size:cover ;
    min-height: 40vh;
  
  }
/*bg illus end*/


/*contact block*/
.contact-block{
    margin : 2%;
    padding-bottom: 1%;
}

.list-group-item{
    margin: 2%;
    padding: 2%;
}

.contact-icon{
    max-width: 5%;
    max-height: 5%;
}

.custom-select{
    width: 100%;
    min-height: 3rem;
}

.form-group{
    margin: 2%;
}

#messageInput{
    min-height: 4rem;
}

.btn-primary{
    background-color: rgb(214, 212, 107);
    border-color: rgb(214, 212, 107);
    min-width: 100%;
}

.btn.btn-primary:hover{
    background-color: rgb(177, 175, 92) ;
    border-color: rgb(177, 175, 92);
}

/*end contact block*/

.map-icon{
    margin: 5%;
}

/*screen constraints start*/
@media only screen and (max-width: 800px) {
    .bg-illus{
        display: none;
    }

  }
/*screen constraints end*/