/* start of milestone */

.main-container{

  width: 100%;
  min-height: 80vh;
  border-left: solid 2px black;
}

/* .vertical-rule{
  position: absolute;
  top: 0;
  left: 1rem;
  bottom: 0;
  right: 0;
  height: 100%;
  border-left: solid 2px black;
} */

.event-card{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  margin: 2rem;
  border-radius: 1rem;

}

.event-card:hover{
  -webkit-box-shadow: 2px 2px 7px 2px rgba(0,0,0,0.7);
  -moz-box-shadow: 2px 2px 7px 2px rgba(0,0,0,0.7);
  box-shadow: 2px 2px 7px 2px rgba(0,0,0,0.7);

  height: 101%;
  width: 101%;
  cursor: pointer;
}

.bullet{
  width: 5rem;
  height: 2px;
  top: 10rem;
  background-color: black;
  z-index: 1;

}

/* .event-card::before{
  content: '';
  position: absolute;
  background-color: black;
  margin-top: 20vh;
  left: 8rem;
  width: 5rem;
  height: 2rem;
} */

.event-image-container{
  padding: 3rem;
}

.event-image{
  object-fit: fill;
}

.event-writeup-container{
  padding: 3rem;

}

.modal-backdrop {
  z-index: 0;
}

.model-dialog{
  width: 100%;
  height: 100%;
}

.modal-event-image{
  height: 60vh;
  object-fit: cover;
  background-color: black;
}


.coming-doon-details{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.coming-soon-image{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/products/coffee\ laptop-min.jpg');
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  
}

/*media constraints start*/
@media only screen and (max-width: 600px) {

  .main-container{
    margin: 0;
    width: 70%;
  }

  .event-card{
    width: 110%;
  }

  .event-writeup-container{
    font-size: .5rem;
    padding: 2rem;
    min-width: 100%;
    max-height: 20vh;
    overflow: hidden scroll ;
  }

  .bullet{
    width: 2rem;
  }

  .modal-event-image{
    height: 40vh;
    object-fit: cover;
  }

  /* .event-card::before{
    content: '';
    position: relative;
    background-color: black;
    margin-top: 20vh;
    left: 0rem;
    width: 5rem;
    height: 2rem;
  } */
}
/*media constraints end*/
/* end of milestone */
