/**css styling for individual products**/
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/**global start**/
p{
    font-size: medium;
    font-weight: lighter;
}

h2{
  border-bottom: 2px solid rgb(214, 212, 107);
}

img{
    max-width: 50rem;
    max-height: 50rem;
}



/**scrollbar start**/


/* width */
::-webkit-scrollbar {
    width: 5px;
    opacity: 0.5;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(189, 187, 187, 0.2);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(218, 215, 215);
    border-radius: .25rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /**scrollbar end**/

/**global end**/


/*pdf download link start*/
.download-link{
  color: rgb(214, 212, 107);
}
/*download link end*/

/*slider start*/
.slider-container{
  padding : 0;
}
/*slider end */

/**img container start**/
.img-container{
  margin: 2rem;
}
/*img container end*/

/**writeup content start**/

.content-container{
  padding: 3rem;
}

.content{
    height: 38rem;
    width : 100%;
}

/**writeup content end**/

/*screen constraints start*/
@media only screen and (max-width: 600px) {

  h2{
    font-size:large;
  }

    p{
        font-size: small;
    }

    img{
        max-width: 60rem;
        max-height: 60rem;
    }

    .content-container{
      padding: .25rem;
    }
    
    .img-container{
      margin: .5rem;
    }
  }

  /*screen constraints  end*/