/**css styling for individual products**/

/**global start**/
p{
    font-size: medium;
    font-weight: lighter;
}

h2{
  border-bottom: 2px solid rgb(214, 212, 107);
}

img{
    max-width: 50rem;
    max-height: 50rem;
    margin: 2rem;
}



/**scrollbar start**/


/* width */
::-webkit-scrollbar {
    width: 5px;
    opacity: 0.5;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(189, 187, 187, 0.2);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(218, 215, 215);
    border-radius: .25rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /**scrollbar end**/

/**global end**/


/*pdf download link start*/
.download-link{
  color: rgb(214, 212, 107);
}
/*download link end*/

/**writeup content start**/
.content{
    height: 38rem;
    width : 100%;
}

/**writeup content end**/

/*screen constraints start*/
@media only screen and (max-width: 600px) {
    p{
        font-size: small;
    }

    img{
        max-width: 60rem;
        max-height: 60rem;
        margin: .5rem;
    }

  }

  /*screen constraints  end*/