/**styling for products.html**/

/**global start**/
@media only screen and (max-width: 600px) {
    .menu-container{
        font-size: small;
    }
  }
/**global end**/

/**products menu start**/

.products-container{
    padding:2%;
}

.menu-container{
    max-height: 40rem;
    min-height: 40rem;
    overflow-y:scroll;
}


.list-group-item:focus{
    background-color: rgb(214, 212, 107);
    border-color: rgb(214, 212, 107);
}

/**products menu end**/

/**iframe contents start**/
.iframe-container{
    height: max-content;
}

.iframe-content{
    height: 40rem;
}
