/**styling for products.html**/

/**global start**/

a:focus{
    outline: none;
}


/**global end**/

/**bg illustration start**/
.bg-illus{
  min-height: 40vh;
}
/*bg illus end*/

/**products menu start**/

.products-container{
    padding:2%;
    overflow-x: hidden;
}



.menu-container{
    max-height: 40rem;
    min-height: 40rem;
    overflow-y:scroll;
}

/*menu scrollbar start*/


/* width */
.menu-container::-webkit-scrollbar {
    width: 5px;
    opacity: 0.5;
  }
  
  /* Track */
  .menu-container::-webkit-scrollbar-track {
    background: rgba(189, 187, 187, 0.2);
  }
  
  /* Handle */
  .menu-container::-webkit-scrollbar-thumb {
    background: rgb(218, 215, 215);
    border-radius: .25rem;
  }
  
  /* Handle on hover */
  .menu-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  


/*menu scrollbar end*/

.list-group-item{
    padding-left: 10%;
 

}

.list-group-item:focus{
    background-color: rgb(214, 212, 107);
    border-color: rgb(214, 212, 107);
    z-index: 0;

}


/**products menu end**/

/**iframe contents start**/
.iframe-content{
    height: 40rem;
    width: 100%;
}

/**iframe contents end**/


/*screen constraints start*/
@media only screen and (max-width: 600px) {

  .bg-illus{
    display: none;
  }

    .menu-container{
        font-size: small;
    }

    .list-group-item{
        padding: .25rem;
    }


    .products-container{
        padding:2%;
        overflow-x: hidden;
        max-height: 30rem;
    }



  }

  /*screen constraints end*/

/* start of tablet image */

  /* end of tablet image */