/*Start of Global*/
html{
    font-family: 'Roboto', sans-serif ;
    color: #000;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    /* background: url("images/sitebg.jpg") no-repeat center fixed; */
    background-size: cover;
}

section{
    padding: 6rem 0;
}

a{
    text-decoration: none;
    color: #000;
}

p{
    font-size: 1.1rem;
    font-weight: 300;
}

img{
    width: 100%;
}

h1{
    border-bottom: 2px solid rgb(214, 212, 107);
}

.navbar-brand img{
    height: 60px;
    width: 60px;
}

.navbar-text{
    font-size: large;
}

.nav-item:after{
    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    /* position: absolute; */
    background: rgb(214, 212, 107);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
      
}

.nav-link:hover{
    color: black;
}

.nav-item:hover:after{
    width: 100%; 
    left: 0;

}


.footer-container{
    border-top: 1px solid rgb(219, 209, 209);
}

.footer-content{
    font-size: 1rem;
}

/*End of Global*/

/* Start of Reusable */

nav{
    margin-bottom: 1%;
}


.ccc-block{
    position: relative;
    padding: 15%;

}

.ccc-block:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url('../images/products/skygarden.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }


  .ccc-details {
    position: relative;
  }

  

.cycle-of-life-block{
    position: relative;
    padding: 15%;
}

.cycle-of-life-block:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url('../images/products/skygarden.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .cycle-of-life-details {
    position: relative;
  }


/* End of Reusable */

/* Start of slider */
.carousel-item{
    height: 100vh;
}

.d-block w-100{
    width: 100%;
    height: 100%;
}

/* Start of slider */

/*Start of video */
.videowrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.videowrapper iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}
/*End of video */
