
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');

/*Start of Global*/
html{
    font-family: 'Roboto', sans-serif ;
    color: #000;
    scroll-behavior: smooth;

    /* filter: invert(1) hue-rotate(180deg); */
}

body{
    /* font-family: 'Noto Sans SC', sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

section{
    padding: 3rem 0;
}

a{
    text-decoration: none;
    color: #000;
}

p{
    font-size: 1.1rem;
    font-weight: 300;
}

img{
    width: 100%;
}

h1{
    border-bottom: 2px solid rgb(214, 212, 107);
}

.hide{
    display: none;
    z-index: -1;
}

.show{
    display: block;
    z-index: 2;
}


.init-nav-container{
    min-height: 40vh;
    width: 100%;
    background-color: aliceblue;
    position: absolute;
    z-index: 1;
    opacity: 0.6;
}

.init-nav-content-container{
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 1.3rem;
    min-height: 10vh;
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    opacity: 1;
}


.init-nav-brand a{
    height: 25%;
    width: 25%;
    padding: 2%;
}


.init-nav-list{
    width: 100%;
    padding: 2%;
}


.navbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    z-index: 2;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.navbar-brand img{
    height: 4rem;
    width: 11rem;
}

.navbar-text{
    font-size: large;
}

.nav-item {
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-item:after{
    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    /* position: absolute; */
    background: rgb(214, 212, 107);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
      
}

.nav-link:hover{
    color: black;
}

.nav-item:hover:after{
    width: 100%; 
    left: 0;

}

.footer{
    background-color: white;
}

.footer-container{
    border-top: 1px solid rgb(219, 209, 209);
}

.footer-content{
    font-size: 1rem;
}

.list-unstyled li{
    margin: 4%;
    border: 2px solid #C69F52;
    border-radius: 0.5rem;
    transition: border-width 0.2s linear;
    transition: padding 0.2s linear;
}

.list-unstyled li:hover{
    border-width: 5px;
    padding : 2%
}



.dropdown-toggle{
    border: 1px solid  #C69F52;
}

.dropdown-toggle:hover{
    border: 2px solid #C69F52;
}



.btn:focus,.btn:active {
    outline: none;
    box-shadow: none;
 }



/*End of Global*/

/* Start of Reusable */



.ccc-block{
    position: relative;
    padding: 15%;
    padding-left: 10%;

}

.ccc-block:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url('../images/products/klcc-min.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }


  .ccc-details {
    position: relative;
  }

  

.cycle-of-life-block{
    position: relative;
    padding: 10%;
    padding-left: 10%;
}

.cycle-of-life-block:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url('../images/products/cycle-of-life-min.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .cycle-of-life-details {
    position: relative;
    max-width: 20rem;
  }


/* End of Reusable */

/* Start of slider */

.slider-container{
    padding-bottom : 5%;
    z-index: -1;
}

.carousel-control-prev{
    z-index: 0;
}

.carousel-control-next{
    z-index: 0;
}
/* End of slider */

/*Start of video */
.video{
    padding: 5%;
    background: url("../images/assets/marble-bg.jpg");
  
}

.iframe-content{
    width: 100%;
    height: 100%;
    height: 40rem;
}

/*screen constraints start*/
@media only screen and (max-width: 800px) {
    .iframe-content {
        height: 20rem;
    }

    section{
        padding : 4rem;
    }

    h1{
        border-bottom: 2px solid #C69F52;
        font-size: x-large;
    }

    .init-nav-container{
        display: none;
    }

    .init-nav-content-container{
        display: none;
    }

    .navbar{
        display: block;
        position: sticky;
        position: -webkit-sticky;
        top: 0; /* required */
        z-index: 2;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.3s;
    }

    .dropdown-menu{
        max-height: 6rem;
    }

  }
/*screen constraints end*/

/*End of video */

