/* p{
    display: inline-block;
    vertical-align: top;
} */

.image-cropper {
    width: 250px;
    float: left;
    padding: 1rem 1rem 2rem 0;
    position: relative;
}

.image-cropper1{
  width: 200px;
  float: left;
  padding: 1rem 1rem 1rem 1rem;
  margin-left: 2rem;
}

.description{
  width: fit-content;
  margin: 0 1rem 0 15rem;
  padding-top: 3rem;
}

.description1{
  width: fit-content;
  margin: 0 1rem 0 15.5rem;
  padding-top: 2rem;
}

/* .profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; centers the image
  height: 100%;
  width: auto;
} */