p{
    font-size: 1rem;
    font-weight: thin;
}


img{
    max-width: 50rem;
    max-height: 50rem;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    opacity: 0.5;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(189, 187, 187, 0.2);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(218, 215, 215);
    border-radius: .25rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.content-container{
    padding:4%;
}