<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CCC2U</title>
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.6.347/build/pdf.min.js"></script><!--pdf.js for embed pdf files-->
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/product.css">

        
    </head>
    <body>

        <!--writeup start-->

        <div class = "content-container">

            <object class = "content" data="../../images/products/ccc-pdf.pdf" type="application/pdf">
                <!--download prompt start-->
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">Oops!</h1>
                      <p>Looks like we are unable to load the catalouge on your device.</p>
                      <br>
                      <p>Please <a class = "download-link" href="../../images/products/ccc-pdf.pdf" autofocus download>click here</a> to download our brochure!</p>
                    </div>
                  </div>
                  <!--download prompt end-->
              </object>

        </div>

        <!--writeup end-->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../js/script.js" defer></script>
    
</body>
</html>