.nav-link,
.nav-link:hover,
.nav-link:focus {
  color: black !important;
}

.tabs-container {
  margin: 3rem;
}

@media only screen and (max-width: 768px) {
  .tabs-container {
    margin: 3.5rem 3rem 3rem 3rem;
  }
}
