@use 'app';

.nav-link,
.nav-link:focus {
  color: black;
  a {
    color: black;
  }
}

.tabs-container {
  margin: 3rem;
}

@media only screen and (max-width: 768px) {
  .tabs-container {
    margin: 3.5rem 3rem 3rem 3rem;
  }
}
