@use 'app';

.card {
  margin: 2rem;
  width: 100%;
}

.card-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 3rem 7rem 3rem 7rem;
  //background: url("../assets/images/card-cover.png");
  background-color: app.$secondary-color;
}

.card-content {
  border: 1px solid grey;
}

.contact-details {
  img {
    width: 15%;
    margin-right: 1rem;
  }
  padding: 2rem 4rem 2rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  font-size: 1.5rem;
}

.form-container {
  margin: 1.5rem;
}
textarea {
  resize: none;
}

.input-col-1 {
  padding-right: 1rem;
}

.input-col-2 {
  padding-left: 1rem;
}

@media only screen and (max-width: 768px) {
  .card-cover {
    padding: 1rem;
  }
  .contact-details {
    img {
      width: 15%;
      margin-right: 1rem;
    }
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    font-size: 1rem;
  }
  .input-col-1 {
    padding-right: 0;
  }

  .input-col-2 {
    padding-left: 0;
  }
}
