.coming-soon-container {
  height: 100vh;
  padding-top: 6rem;
  color: rgb(48, 47, 47);
  font-family: "Roboto Condensed", sans-serif;
  background-image: linear-gradient(white, white),
    url(https://images.unsplash.com/photo-1508389377389-b8221c0bcc9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-position: top top;
  background-size: cover;
  background-blend-mode: soft-light;
}
