@use 'app';

.col {
  display: flex;
  justify-content: center;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1rem 0;
  background-color: app.$secondary-color;
}
