@use 'app';

.brand-container {
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
}

.init-nav-container {
  min-height: 40vh;
  width: 100%;
  background: rgba(241, 247, 252, 0.6);
  position: absolute;
  z-index: 1;
}

.navbar-brand {
  width: 30%;
  img {
    background: rgba(255, 255, 255, 1);
  }
}

.init-nav-list {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
  color: black;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: app.$primary-color;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}
