@use 'app';

.brand-container {
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
}

.init-nav-container {
  min-height: 40vh;
  width: 100%;
  background: rgba(241, 247, 252, 0.6);
  position: absolute;
  z-index: 1;
}

.navbar-brand {
  width: 30%;
  img {
    background: rgba(255, 255, 255, 1);
  }
}

.init-nav-list {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
  color: black;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: app.$primary-color;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.intro-1-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  min-height: 100vh;
}

.intro-1-container::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url("https://ccc2u.com/images/products/klcc-min.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.intro-1-writeup {
  h1 {
    text-decoration: underline;
    text-decoration-color: app.$primary-color;
  }
  p {
    font-size: 1.1rem;
    font-weight: 300;
  }
  position: relative;
}

.intro-2-container {
  @extend .intro-1-container;
  justify-content: left;
  padding-right: 30rem;
}

.intro-2-container::before {
  @extend .intro-1-container, ::before;
  background: url("https://ccc2u.com/images/products/cycle-of-life-min.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.intro-2-writeup {
  @extend .intro-1-writeup;
}

.video-title {
  display: flex;
  justify-content: center;
  margin: 1rem;
  h1 {
    text-decoration: underline;
    text-decoration-color: app.$primary-color;
  }
}

.video-container {
  background: url("https://ccc2u.com/images/assets/marble-bg.jpg");
  padding: 1rem 4rem 1rem 4rem;
  height: 100vh;
}
@media only screen and (max-width: 768px) {
  .intro-1-writeup {
    h1 {
      text-decoration: underline;
      text-decoration-color: app.$primary-color;
    }
    p {
      font-size: 1rem;
      font-weight: 300;
    }
    position: relative;
  }

  .intro-2-container {
    justify-content: center;
    padding: 5rem;
  }

  .video-container {
    padding: 1rem 2rem 1rem 2rem;
    height: 50vh;
  }
}
