@use 'app';

.brand-container {
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
}

.init-nav-container {
  min-height: 40vh;
  width: 100%;
  background: rgba(241, 247, 252, 0.6);
  position: absolute;
  z-index: 1;
}

.init-nav-container-rel {
  min-height: 40vh;
  width: 100%;
  position: relative;
  background-image: url("https://ccc2u.com/images/products/klcclong-min.jpg");
  background-size: cover;
  z-index: 1;
}

.init-nav-container-rel:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-brand-container {
  display: flex;
  justify-content: center;
}

.navbar-brand {
  width: 30%;
}

.init-nav-list {
  display: flex;
  justify-content: space-around;
}

.init-nav-link-custom {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  margin: 1rem;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.init-nav-link-custom:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  /* position: absolute; */
  background: rgb(214, 212, 107);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.init-nav-link-custom:hover {
  color: black;
}

.init-nav-link-custom:hover:after {
  width: 100%;
  left: 0;
}

.intro-1-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  min-height: 100vh;
}

.intro-1-container::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url("https://ccc2u.com/images/products/klcc-min.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.intro-1-writeup {
  h1 {
    text-decoration: underline;
    text-decoration-color: app.$primary-color;
  }
  p {
    font-size: 1.05rem;
    font-weight: 300;
  }
  position: relative;
}

.intro-2-container {
  @extend .intro-1-container;
  justify-content: left;
  padding-right: 30rem;
}

.intro-2-container::before {
  @extend .intro-1-container, ::before;
  background: url("https://ccc2u.com/images/products/cycle-of-life-min.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.intro-2-writeup {
  @extend .intro-1-writeup;
}

.video-title {
  display: flex;
  justify-content: center;
  margin: 1rem;
  h1 {
    text-decoration: underline;
    text-decoration-color: app.$primary-color;
  }
}

.video-container {
  background: url("https://ccc2u.com/images/assets/marble-bg.jpg");
  padding: 1rem 4rem 1rem 4rem;
  height: 100vh;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

@media only screen and (max-width: 768px) {
  body {
    padding-top: 5rem;
  }

  .intro-1-writeup {
    h1 {
      text-decoration: underline;
      text-decoration-color: app.$primary-color;
    }
    p {
      font-size: 1rem;
      font-weight: 300;
    }
    position: relative;
  }

  .intro-2-container {
    justify-content: center;
    padding: 5rem;
  }

  .video-container {
    padding: 1rem 2rem 1rem 2rem;
    height: 50vh;
  }
}
