@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideLeft-2 {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideRight-2 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.timeline-content-container {
  min-height: 50vh;
}

.timeline-animate-l2r {
  animation: 0.5s ease-in 0s 1 slideLeft;
}

.timeline-animate-l2r-2 {
  animation: 0.5s ease-in 0s 1 slideLeft-2;
}

.timeline-animate-r2l {
  animation: 0.5s ease-in 0s 1 slideRight;
}

.timeline-animate-r2l-2 {
  animation: 0.5s ease-in 0s 1 slideRight-2;
}

.timeline-img {
  width: 60%;
}
