@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.navibar {
  animation: 0.1s ease-out 0s 1 slideDown;
}

.nav-brand {
  width: 10rem;
  img {
    width: 100%;
    background-color: transparent;
  }
}

.navi-list {
  flex-wrap: wrap;
}

.navi-link {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.navi-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  margin-top: 0.25rem;
  left: 50%;
  /* position: absolute; */
  background: rgb(214, 212, 107);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navi-link:hover {
  color: black;
}

.navi-link:hover:after {
  width: 100%;
  left: 0;
}

.dropdown-toggle {
  margin-left: 1rem;
  background-color: transparent;
  color: black;
}

.dropdown-toggle:active {
  @extend .dropdown-toggle;
}

.dropdown-toggle:focus {
  @extend .dropdown-toggle;
}

.phone-num {
  font-weight: bold;
  margin: 0.5rem;
}
