.product-container {
  padding: 2rem;
}

.product-img {
  max-width: 80%;
}

.product-content-container {
  margin-top: 1rem;
}

.product-title {
  border-bottom: 2px solid rgb(214, 212, 107);
  margin-bottom: 0.5rem;
}
