/*Start of Global*/
html{
    font-family: 'Roboto', sans-serif ;
    color: #000;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    /* background: url("images/sitebg.jpg") no-repeat center fixed; */
    background-size: cover;
}

section{
    padding: 6rem 0;
}

a{
    text-decoration: none;
    color: #000;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;
}
/*End of Global*/

/* Start of Reusable */

nav{
    margin-bottom: 1%;
}


.ccc-block{
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}

.ccc-block:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url('images/products/sky garden.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

.ccc-block:hover{
    opacity: 1;
}

  .ccc-details {
    position: relative;
  }

  

.cycle-of-life-block{
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cycle-of-life-block:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url('images/products/sky garden.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .cycle-of-life-details {
    position: relative;
  }


/* End of Reusable */

