/*Start of Global*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif ;
    color: #eee;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    /* background: url("images/sitebg.jpg") no-repeat center fixed; */
    background-size: cover;
}

section{
    padding: 6rem 0;
}

a{
    text-decoration: none;
    color: #eee;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;
}
/*End of Global*/

/* Start of Reusable */


/* End of Reusable */

